.carousel {
    --image-height: 350px;
    --image-width: 236px;
    --center-top: 32rem;
    --step-up: 8rem;
    
    height: 100vh;
    position: relative;
    overflow: hidden;
}


.title {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title__main,
.title__sub {
    display: block;
    white-space: nowrap;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
}

.title__main {
    margin-bottom: 0.25rem;
}

.title__sub {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.4s ease-in,
                transform 0.4s ease-in;
    animation: slide-in 0.4s ease-out;
}

.title.is-fading .title__sub {
    opacity: 0;
    transform: translateY(-24px);
}

.title__sub--green {
    color: var(--green);
}

.title__sub--teal {
    color: var(--teal);
}

.title__sub--orange {
    color: var(--orange);
}

.title__sub--blue {
    color: var(--blue);
}

.controls-container {
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls {
    display: flex;
    list-style: none;
}

.controls__item > a {
    height: 0.75rem;
    width: 0.75rem;
    margin-right: 1rem;
    display: block;

    border-radius: 1rem;
    background-color: var(--grey);
}

.controls__item:last-of-type > a {
    margin-right: 0;
}

.controls__item--teal > a {
    background-color: var(--teal);
}

.controls__item--green > a {
    background-color: var(--green);
}

.controls__item--blue > a {
    background-color: var(--blue);
}

.controls__item--orange > a {
    background-color: var(--orange);
}

.carousel-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-img {
    border-radius: 1rem;
}

.carousel-img-container {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.4s ease-in,
                transform 0.4s ease-in;
    animation: slide-in 0.4s ease-out;
}

.carousel-img-container.is-fading {
    opacity: 0;
    transform: translateY(-24px);
}

.carousel-img {
    height: var(--image-height);
    width: var(--image-width);
    margin-bottom: 1rem;
}

/* the 3 corresponds to position away from the center */
.carousel-img-container:nth-of-type(1) {
    position: absolute;
    top: calc(var(--center-top) - 3 * var(--step-up)); 
    left: calc(50% - 3 * var(--image-width)); 
    margin-left: calc(-0.5 * var(--image-width) - 3rem);
}

.carousel-img-container:nth-of-type(2) {
    position: absolute;
    top: calc(var(--center-top) - 2 * var(--step-up)); 
    left: calc(50% - 2 * var(--image-width)); 
    margin-left: calc(-0.5 * var(--image-width) - 2rem);
}

.carousel-img-container:nth-of-type(3) {
    position: absolute;
    top: calc(var(--center-top) - var(--step-up)); /* subtract step-up */
    left: calc(50% - var(--image-width)); /* add 1 image width's distance left */
    margin-left: calc(-0.5 * var(--image-width) - 1rem); /* 1rem is the actual margin between images */
}

/* center of carousel */
.carousel-img-container:nth-of-type(4) {
    position: absolute;
    top: var(--center-top);
    left: 50%;
    margin-left: calc(-0.5 * var(--image-width));
}

.carousel-img-container:nth-of-type(5) {
    position: absolute;
    top: calc(var(--center-top) - var(--step-up)); /* subtract step-up */
    left: calc(50% + var(--image-width)); /* add 1 image width's distance right */
    margin-left: calc(-0.5 * var(--image-width) + 1rem); /* 1rem is the actual margin between images */
}

.carousel-img-container:nth-of-type(6) {
    position: absolute;
    top: calc(var(--center-top) - 2 * var(--step-up));
    left: calc(50% + 2 * var(--image-width)); 
    margin-left: calc(-0.5 * var(--image-width) + 2rem); 
}

.carousel-img-container:nth-of-type(7) {
    position: absolute;
    top: calc(var(--center-top) - 3  * var(--step-up));
    left: calc(50% + 3 * var(--image-width)); 
    margin-left: calc(-0.5 * var(--image-width) + 3rem);
}


@keyframes slide-in {
    0% {
        transform: translateY(24px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}